*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
    min-height: calc(100vh - 140px);
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}
